@import 'icons.scss';
@import 'animations.scss';

ts-cal{
  font-family: roboto, sans-serif, arial !important;
  box-sizing: border-box;
  position: relative;
  //dynamic height and width
  width:590px;
  height: 400px;
  display: block;
  .ts-cal-controls{
    display: table;
    width: 100%;
    background: #00897B;
    color:white;
    height: 15%;
    .controls{
      display: table-row;
      .control{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        &.center *{
          margin: 0 5px;
        font-size: 20px;
        }
        .current{
          display: inline-block;
          min-width: 150px;
        }
        .next, .prev{
          cursor: pointer;
        }

        &.right, &.left{
          width:20%;
        }
      }
    }
  }

  .ts-cal-container{
    @extend .table;
    height: 75%;
    position: relative;
    .ts-cal-week-header{
      @extend .row;
      background: #009688;
      color:white;
      height: 11%;
      .ts-cal-day-header{
        @extend .cell;
        display: table-cell;
        position: relative;
      }
    }
    .ts-cal-week{
      @extend .row;
      height: (89%/6);
      .ts-cal-day{
        @extend .cell;
        .ts-cal-placeholder{
            color: grey;
        }
      }
    }
    .ts-cal-ghost-align{
      display: inline-block;
      height:100%;
      width:1px;
      vertical-align: middle;
    }
  }
}

.table{
  display: block;
  width:100%;
}

.row{
  position: relative;
  display: block;
  width: auto;
  clear: both;
}
.cell{
  width:(100%/7);
  display:inline-block;
  text-align: center;
  vertical-align: middle;
  height:100%
}
