@import 'icons.scss';
@import 'animations.scss';

ts-cal{
  font-family: roboto, sans-serif, arial !important;
  box-sizing: border-box;
  position: relative;
  //dynamic height and width
  width:590px;
  height: 400px;
  display: block;
  .ts-cal-controls{
    @extend .table;
    background: #00897B;
    color:white;
    height: 15%;
    .controls{
      @extend .row;
      .control{
        @extend .cell;
        &.center *{
          margin: 0 5px;
        font-size: 20px;
        }
        .current{
          display: inline-block;
          min-width: 150px;
        }
        .next, .prev{
          cursor: pointer;
        }

        &.right, &.left{
          width:20%;
        }
      }
    }
  }

  .ts-cal-container{
    @extend .table;
    height: 100%;
    .ts-cal-week-header{
      @extend .row;
      background: #009688;
      color:white;
      height: 10%;
      .ts-cal-day-header{
        @extend .cell;
      }
    }
    .ts-cal-week{
      @extend .row;
      .ts-cal-day{
        @extend .cell;
        .ts-cal-placeholder{
          &.outside{
            color: grey;;
          }
        }
      }
    }
  }
}

.table{
  display: table;
  width:100%;
}

.row{
  display: table-row;
  width: auto;
  clear: both;
}
.cell{
  display:table-cell;
  text-align: center;
  vertical-align: middle;
}
